p {
  line-height: 1.5;
}
img {
  border-radius: 10px;
}
video {
  border-radius: 10px;
}
/*----------- TABLET ------------*/
/*----------- TABLET ------------*/
/*----------- TABLET ------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .margin {
    margin-left: 90px;
    margin-right: 90px;
  }
  .om_os_intro {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--secondary);
  }
  .tekst {
    margin: 20px;
  }
  video {
    position: relative;
    width: 100%;
  }
  .ramme_instruktoer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .billeder-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .billeder-container2 {
    margin-left: 30px;
    margin-right: 30px;
    width: 94%;
  }
  .red_line {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .staff_pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*--------------------- MOBILE ---------------------*/
/*--------------------- MOBILE ---------------------*/
/*--------------------- MOBILE ---------------------*/

@media (max-width: 768px) {
  .om_os_intro {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--secondary);
  }
  .tekst {
    margin: 20px;
  }
  video {
    position: relative;
    width: 100%;
  }
  .ramme_instruktoer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .billeder-container {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
  .billeder-container2 {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
  .red_line {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

/* ------------ DESKTOP ------------- */
/* ------------ DESKTOP ------------- */
/* ------------ DESKTOP ------------- */

@media (min-width: 991px) {
  .om_os {
    margin: 0 auto;
    background-color: var(--secondary);
    margin: 20px 20px;
  }

  .om_os_intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .margin {
    margin-left: 90px;
    margin-right: 90px;
  }

  .ramme_om_os {
    padding: 54px;
    padding-inline: initial;
    align-items: center;
    text-align: center;
    margin-inline: auto;
  }

  .ramme_instruktoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 3px var(--senary);
    padding: 40px;
    margin: 1rem;
    background-color: #faf9f4;
  }

  .staff_pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ramme_instruktoer h4 {
    margin-bottom: 35px;
  }
  .ramme_instruktoer h3 {
    grid-column: span 2;
  }
  .ramme_instruktoer p {
    font-style: italic;
  }

  .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    line-height: 1;
    padding-right: 80px;
  }

  .instruktoer {
    grid-column: span 2;
  }

  .billeder-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .billede img {
    width: 46%;
    margin-bottom: 10px;
  }

  .billede {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .red_line {
    display: none;
  }
  video {
    position: relative;
    width: 100%;
    padding: 10px;
  }

  @media (min-width: 800px) {
    .ramme_om_os {
      padding: 90px;
    }

    .tekst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .billede {
      flex-direction: row;
    }
  }
}
