p {
  line-height: 1.5;
}

.om_os {
  margin: 0 auto;
  background-color: var(--secondary);
  margin: 20px 20px;
}

body,
html {
  margin: 0;
  padding: 0;
}

.video {
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/*video {
  width: 100%;
  display: block;
  object-fit: cover;
}*/

.margin {
  margin-left: 90px;
  margin-right: 90px;
}

@media (min-width: 800px) {
  .ramme_om_os {
    padding: 54px;
    padding-inline: initial;
    align-items: center;
    text-align: center;
    margin-inline: auto;
  }

  .ramme_instruktoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 3px var(--senary);
    padding: 40px;
    margin: 1rem;
  }

  .ramme_instruktoer h4 {
    margin-bottom: 35px;
  }
  .ramme_instruktoer h3 {
    grid-column: span 2;
  }
  .ramme_instruktoer p {
    font-style: italic;
  }

  .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    line-height: 1;
    padding-right: 80px;
  }

  .instruktoer {
    grid-column: span 2;
  }

  .billeder-container {
    display: flex;
    justify-content: space-between;
  }

  .billede img {
    width: 46%;
    margin-bottom: 10px;
  }

  .billede {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 800px) {
    .ramme_om_os {
      padding: 90px;
    }

    article {
      margin: 0px;
    }

    .tekst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .billede {
      flex-direction: row;
    }
  }
}
