/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.green_line {
  margin-left: 5%;
  margin-right: 5%;
}

/*--------------- MOBILE ---------------- */

@media screen and (max-width: 767px) {
  .container {
  }

  .alexander_teknik {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }

  .virkelig_alex {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    max-width: 600px;
  }

  .virkelig_alex h1 {
    word-break: break-all;
  }

  .white_board {
    max-width: 600px;
    margin-top: 20px;
    border-radius: 20px;
  }

  /* ------ MEKANIK - VÆREN - MENING ------- */

  .themes {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .themes_icon {
    padding: 30px;
  }
  .mekanik {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
  }

  .vaeren {
    margin-bottom: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    padding: 20px;
  }

  .mening {
    margin-bottom: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    padding: 20px;
  }

  /* -- HVID FARVE TIL TEKSTBOKSE -- */

  .text_color {
    font-size: 2rem;
  }

  /*------------ BLIV LÆRER & PRISLISTE -------- */

  .sign_up {
    margin-left: 20px;
    margin-right: 20px;
  }

  .be_at {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .pricelist {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
  .knap {
    text-align: center;
    align-items: center;
  }
  button {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--tertiary);
    transition-duration: 0.4s;
    cursor: pointer;
    position: sticky;
    top: 0px;
    left: 35px;
  }

  button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}

/* --------------------- DESKTOP ---------------------- */
/* --------------------- DESKTOP ---------------------- */
/* --------------------- DESKTOP ---------------------- */
/* --------------------- DESKTOP ---------------------- */

@media screen and (min-width: 992px) {
  .container {
  }

  .alexander_teknik {
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px;
  }

  .virkelig_alex {
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .virkelig_alex_text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .white_board {
    max-width: 500px;
    border-radius: 20px;
  }
  /* ------ MEKANIK - VÆREN - MENING ------- */

  .themes {
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mekanik {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  .vaeren {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  .mening {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* -- HVID FARVE TIL TEKSTBOKSE -- */

  /*------------ BLIV LÆRER & PRISLISTE -------- */

  .sign_up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 90px;
    margin-right: 90px;
  }

  .be_at {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .pricelist {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
  .knap {
    text-align: inherit;
  }

  button {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--tertiary);
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    top: -20px;
    left: 110px;
  }

  button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}

/* ----------- TABLET ---------------- */
/* ----------- TABLET ---------------- */
/* ----------- TABLET ---------------- */
/* ----------- TABLET ---------------- */
/* ----------- TABLET ---------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
  }

  .alexander_teknik {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }

  .virkelig_alex {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }
  .white_board {
    display: none;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 20px;
  }

  /* ------ MEKANIK - VÆREN - MENING ------- */

  .themes {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mekanik {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  .vaeren {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  .mening {
    padding: 20px;
    background-color: var(--secondary);
    border: solid 4px var(--senary);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* -- HVID FARVE TIL TEKSTBOKSE -- */

  .text_color {
  }

  /*------------ BLIV LÆRER & PRISLISTE -------- */

  .sign_up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 90px;
    margin-right: 90px;
  }

  .be_at {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .pricelist {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
  .knap {
    text-align: inherit;
  }

  button {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--tertiary);
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    top: -42px;
    left: 110px;
  }

  button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
  }

  .line {
    display: none;
  }
}
