main {
  margin: 20px 20px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.kasse1,
.kasse2 {
  display: block;
  margin: 0 auto;
  background-color: var(--tertiary);
  margin-top: 20px;
}

/* .left,
.right {
  padding: 10px 10px;
} */

.centrer {
  text-align: center;
  align-items: center;
}
.img,
.order {
  text-align: center;
  align-items: center;
}

.img img,
.kasse1 img,
.kasse2 img {
  display: block;
  margin: 0 auto;
}

hr {
  color: var(--tertiary);
  margin: 50px 50px;
}

.udlejning a,
.udlejning p {
  font-size: var(--tertiary-font-size);
}

.knap {
  text-align: center;
  align-items: center;
}

button {
  padding: 20px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--tertiary);
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: var(--tertiary);
  color: var(--secondary);
}

@media (min-width: 800px) {
  main {
    margin: 20px 90px;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: var(--tertiary-font-weight);
  }

  .udlejning a,
  .udlejning p {
    font-size: 1.4rem;
  }
  .ramme_tilbyder {
    padding: 90px;
  }

  .kasserne {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kasse1 a,
  .kasse2 a {
    font-size: var(--secondary-font-size);
    font-weight: var(--primary-font-weight);
    line-height: 2;
  }
  .kasse1 {
    display: grid;
    grid-template-columns: 9fr 10fr;
    gap: 20px;
    padding: 15px;
  }
  .kasse2 {
    display: grid;
    grid-template-columns: 10fr 9fr;
    gap: 20px;
    padding: 15px;
  }
  .kasse1 img,
  .kasse2 img {
    width: 80%;
  }

  .right {
    text-align: right;
  }

  .order {
    order: -1;
  }
  .order img {
    margin-left: auto;
  }

  .centrer {
    margin-bottom: 20px;
  }
  .knap {
    margin-top: 10px;
  }

  button {
    padding: 25px;
    font-size: 1.2rem;
  }
}
