/* ---------- MOBILE ---------- */
/* ---------- MOBILE ---------- */
/* ---------- MOBILE ---------- */
/* ---------- MOBILE ---------- */

@media (max-width: 800px) {
  main {
    margin: 20px 20px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .a_text {
    text-align: center;
    margin-bottom: 10px;
  }
  .kasse1,
  .kasse2 {
    display: block;
    margin: 0 auto;
    /* background-color: var(--tertiary); */
    margin-top: 20px;
  }

  .centrer {
    text-align: center;
    align-items: center;
  }
  .img,
  .order {
    text-align: center;
    align-items: center;
  }

  .kasse1 img,
  .kasse2 img {
    width: 70%;
    border-radius: 20px;
  }

  hr {
    color: var(--tertiary);
    margin: 50px 50px;
  }

  .udlejning a,
  .udlejning p {
    font-size: var(--tertiary-font-size);
  }

  .knap {
    text-align: center;
    align-items: center;
  }

  button {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--tertiary);
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}

/* ---------- DESKTOP ------------- */
/* ---------- DESKTOP ------------- */
/* ---------- DESKTOP ------------- */
/* ---------- DESKTOP ------------- */

@media (min-width: 800px) {
  main {
    margin: 20px 90px;
  }
  .h2_vi_tilbyder {
    font-size: 2rem;
    font-weight: var(--primary-font-weight);
    padding: 0px;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: var(--tertiary-font-weight);
    padding: 10px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .udlejning a,
  .udlejning p {
    font-size: 1.4rem;
  }
  .ramme_tilbyder {
    padding: 90px;
  }
  .a_text {
    padding: 10px;
  }
  a:hover {
  }
  .kasserne {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kasse1 a,
  .kasse2 a {
    font-size: var(--secondary-font-size);
    font-weight: var(--primary-font-weight);
    line-height: 2;
  }
  .kasse1 {
    display: grid;
    grid-template-columns: 9fr 10fr;
    gap: 20px;
    padding: 15px;
  }
  .kasse2 {
    display: grid;
    grid-template-columns: 10fr 9fr;
    gap: 20px;
    padding: 15px;
  }
  .kasse1 img,
  .kasse2 img {
    width: 100%;
    border-radius: 20px;
  }
  hr {
    color: var(--tertiary);
    margin: 50px 50px;
  }
  .right {
    text-align: right;
  }

  .order {
    order: -1;
  }
  .order img {
    margin-left: auto;
  }

  .centrer {
    margin-bottom: 20px;
  }
  .knap {
    margin-top: 10px;
  }
  .knap {
    text-align: center;
    align-items: center;
  }
  button {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--tertiary);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}
