main {
  margin: 20px 20px;
}

.kontakt {
  margin: 0 auto;
  background-color: var(--secondary);
}

.ramme_kontakt {
  background-color: var(--secondary);
  border: solid 4px var(--tertiary);
  padding: 40px;
  padding-inline: initial;
  align-items: center;
  text-align: center;
  margin-inline: auto;
}

.virkelig {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.adresse p {
  font-size: var(--senary-font-size);
  font-weight: var(--tertiary-font-weight);
}

.google-map {
  padding-bottom: 30%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  filter: grayscale(100%);
}

hr {
  color: var(--tertiary);
  margin-top: 30px;
  margin-bottom: 30px;
}
article {
  display: block;
  margin: 0 auto;
  background-color: var(--secondary);
  margin-top: 20px;
}
.ramme_personer {
  background-color: var(--secondary);
  border: solid 4px var(--tertiary);
  padding: 10px 10px;
  padding-inline: initial;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  align-items: center;
}

.billede {
  text-align: center;
}

.billede img {
  display: block;
  margin: 0 auto;
  order: -1;
  width: 70%;
}

@media (min-width: 800px) {
  main {
    margin: 20px 90px;
  }
  .ramme_kontakt {
    padding: 90px;
  }

  .virkelig_tekst {
    margin-right: 100px;
  }

  .ramme_personer {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }
}
