p {
  line-height: 1.5;
}

.kontakt {
  margin: 0 auto;
  background-color: #f5f4eb;
  margin: 20px 20px 20px 20px;
}

.ramme_kontakt {
  background-color: #f5f4eb;
  border: solid 4px #a5b88e;
  padding: 40px;
  padding-inline: initial;
  align-items: center;
  text-align: center;
  margin-inline: auto;
}

.adresse p {
  font-size: 0.7rem;
  font-weight: bold;
}

.virkelig {
  margin: 20px 20px 20px 20px;
}

article {
  display: block;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  background-color: #a5b88e;
  align-items: center;
}

.billede {
  align-items: center;
}
img {
  width: 80%;
}
@media (min-width: 800px) {
  .ramme_kontakt {
    padding: 90px;
  }

  article {
    margin: 0px;
  }

  .billede_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .tekst_billede {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .billede {
    order: -1;
  }
}
