/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary: black; /*tekst*/
  --secondary: #faf9f4; /*body*/
  --tertiary: #a5b88e; /*lysegrøn*/
  --quaternary: #3c3d30; /* Mørkegrøn - header*/
  --quinary: #a99c9c; /* lilla */
  --senary: #862908; /*deres rød*/
  --septenary: #c7d2b8; /*lysere grøn*/

  --primary-font: "walkwayregular", sans-serif;

  --primary-line-height: 1.5;

  --primary-list-style: none;

  --primary-font-size: 3.5rem;
  --secondary-font-size: 1.5rem;
  --tertiary-font-size: 1.1rem;
  --quaternary-font-size: 1rem;
  --quinary-font-size: 0.8rem;
  --senary-font-size: 0.7rem;

  --primary-font-weight: 100;
  --secondary-font-weight: 200;
  --tertiary-font-weight: 500;
}

body {
  background-color: var(--secondary);
  font-family: var(--primary-font);
  list-style: var(--primary-list-style);
  line-height: var(--primary-line-height);
  text-decoration: none;
}

main {
  /* max-width: 1400px; */
  margin: 0 auto;
}

footer {
  background-color: var(--quaternary);
  color: var(--secondary);
  text-align: center;
  padding: 20px 0;
}

footer p {
  color: var(--secondary);
}
footer a {
  color: var(--secondary);
  list-style: var(--primary-list-style);
  text-decoration: none;
  font-weight: var(--primary-font-weight);
}

footer img {
  margin: 5px;
}

.iconer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@font-face {
  font-family: "walkwayregular";
  src: url("fonte/walkway-webfont.woff2") format("woff2"), url("fonte/walkway-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* TEKST START*/
h1 {
  /* = Primary/Brand Color */
  color: var(--primary);
}

h1 {
  /* = Primary/Brand Color */
  color: var(--primary);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
}

h2 {
  /* = Primary/Brand Color */
  color: var(--primary);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
}
h3 {
  color: var(--primary);
  font-weight: var(--secondary-font-weight);
  font-size: var(--secondary-font-size);
}

h4 {
  color: var(--primary);
  font-weight: var(--tertiary-font-weight);
  font-size: var(--tertiary-font-size);
}

p {
  color: var(--primary);
  font-weight: var(--primary-font-weight);
  font-size: var(--quaternary-font-size);
}

a {
  color: var(--primary);
  font-size: var(--quaternary-font-size);
  text-decoration: none;
}

a:hover {
  color: var(--senary);
}
