/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #faf9f4;
  list-style: none;
}

main {
  /* max-width: 1400px; */
  margin: 0 auto;
}

footer {
  background-color: #3c3d30;
  color: #fff;
}

footer p {
  color: #fff;
}

@font-face {
  font-family: "walkwayregular";
  src: url("fonte/walkway-webfont.woff2") format("woff2"), url("fonte/walkway-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Breadcrumb start */
/* Style the list */
ul.breadcrumb {
  list-style: none;
  text-align: center;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #862908;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #862908;
  text-decoration: none;
  font-size: 0.6rem;
}

ul.breadcrumb li a:hover {
  color: #a5b88e;
  text-decoration: none;
}
/* Breadcrumb slut */

/* TEKST START*/
h1 {
  font-family: "walkwayregular", sans-serif;
  color: #862908;
  font-weight: 100;
  font-size: 3.5rem;
}

h2 {
  font-family: "walkwayregular", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
}
h3 {
  font-family: "walkwayregular", sans-serif;
  color: black;
  font-weight: 200;
  font-size: 1.5rem;
}

p {
  font-family: "walkwayregular", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1rem;
}

a {
  font-family: "walkwayregular", sans-serif;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: #862908;
}

@media (min-width: 800px) {
  ul.breadcrumb li {
    font-size: 0.8rem;
  }

  ul.breadcrumb li a {
    font-size: 0.8rem;
  }
}
