html {
  --tertiary: #a5b88e; /*lysegrøn*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.billede-klasse {
  max-width: 300px;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px 0;
}

.footer-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.some {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 40px;
  margin: 0 auto;
}
.some img {
  width: 15%;
  height: auto;
}

/*main {
  /*padding: 20px;}

/*Forside-hero-billede*/
.hero-container {
  position: relative;
  max-width: 100%;
  padding: 0;
}
/*Tekst der er placeret ovenpå billedet*/

h1 {
  --secondary: #faf9f4;
}

.tekst-overlay {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  padding: 0 20px;
}

.border1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #f5f4eb;
  border: solid 2px;
  --tertiary: #a5b88e; /*lysegrøn*/
  padding: 10px;
  margin: 1rem;
  width: 200px;
}

/* .button {
  display: block;
  margin: 20px auto; /* Tilføjet mere margin for at give plads omkring knappen */
/* padding: 10px 20px;

  background-color: rgb(107, 142, 107);
} */
/* Knapppens look*/
/*Container stil til placering af knapper*/
/* .button-column {
  display: flex;
  flex-direction: column;
} */
*/

/*Container stil til billede*/
.image-container {
  margin-left: 20px;
  width: 20px;
}

.knap_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
}

.knap_container a {
  /* background-color: red; */
  /* width: 100%;
  background-color: var(--primary);
  padding: 40px;
  color: rgb(248, 250, 251);
  text-align: center;
  font-size: 16px;
  height: 40px; */
}

@media screen and (min-width: 800px) {
  /* body {
    background-color: red;
  } */

  .knap_container {
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
  }
  .knap_container img {
    grid-area: 1/2/4/3;
  }
  .knap_container a {
    width: 66%;
  }
  .knap_container .knap1 {
    justify-self: start;
    align-self: start;
  }
  .knap_container .knap2 {
    justify-self: start;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f5f4eb;
    border: solid 2px rgb(107, 142, 107);
  }

  .knap_container .knap3 {
    justify-self: start;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f5f4eb;
    border: solid 2px rgb(107, 142, 107);
  }
  /*main {
    padding: 50px;
  }*/

  iframe {
    width: 1500px;
    height: 450px;
    border: 0;
    padding: 20px;
    margin: auto 0;
    display: block;
  }

  footer {
    text-align: center;
    padding: 20px 0;
  }

  .footer-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .some {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap: 40px;
    margin: 0 auto;
  }
  .some img {
    width: 15%;
    height: auto;
  }
}
