* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MOBILESITE*/
@media screen and (max-width: 800px) {
}

/*Forside-hero-billede*/
.hero-container {
  position: relative;
  max-width: 100%;
}
/*Tekst der er placeret ovenpå billedet*/

.tekst-overlay {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50, -50%);
  text-align: center;
  color: antiquewhite;
}

/* Knapppens look*/
.green-button {
  background-color: rgb(107, 142, 107);
  padding: 10px 20px;
  color: rgb(248, 250, 251);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}

/*Container stil til placering af knapper*/
.button-column {
  display: flex;
  flex-direction: column;
}

/*Container stil til billede*/
.image-container {
  margin-left: 20px;
}
/*Så billedet tilpasser sig forskellige skærmstr*/
/*.image-container img {
  width: 100%;
  height: auto;
}*/
